html,
body {

    width: 100vw;
    height: 100vh;
    padding: 0;
    font-family: 'Inter';
    font-style: normal;
}

header {
    width: 100vw;
    height: 208px;
    background-image: url("images/background.png");
    background-color: #121212;
    color: white;
    margin-top: 0;
}

.header-content {
    min-width: 70%;
    height: 208px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 30px;
}

.find-film {
    font-weight: 800;
    font-size: 43px;
    line-height: 24px;
    letter-spacing: -0.045em;
}

.watchlist {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: white;
    text-decoration: none;
}

.watchlist:hover {
    color: #385275e0;
}

#form {
    margin: 30px 30px;
    display: flex;
    justify-content: center;

}

.search-window {
    width: 400px;
}

.search-window:hover {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.search-window:focus {
    border: 1px solid #385275e0;
    outline: none !important
}

#search-btn:hover {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#search-btn:focus {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    color: #385275e0;
}

input {
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    border: 1px solid #D1D5DB;

}

#film-content,
#watchlist-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.section-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 1.5px solid #E5E7EB;
}

img {
    width: 99px;
    height: 148px;
    border-radius: 2.5px;
}

.description {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.title-star-rate,
.time-genre-watchlist,
.desc {
    display: flex;
    flex-direction: row;
    margin: 0;
}

.title-star-rate,
.time-genre-watchlist {
    align-items: center;
}

.title,
.star,
.rate {
    margin-bottom: 0;
    margin-top: 0;
}

.desc {
    width: 300px;
    min-height: 130px;
    margin-top: 0;
}

.star,
.icon {
    width: 15px;
    height: 15px;
    margin-left: 10px;
    margin-right: 5px;
}

.icon:hover {
    width: 18px;
    height: 18px;
    margin-right: 7px;
}


.title {
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
}

.rate {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
}

.time-genre-watchlist {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
}

.genre {
    margin: 0 10px;
}

.desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #6B7280;
}

.start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    text-align: center;

}

.start-exploring {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #DFDDDD;
}

.start-icon {
    width: 70px;
    height: 61.25px;
}


.empty-watchlist {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-icon {
    width: 18px;
    height: 18px;
    margin-right: 10px;
}

.add-icon:hover {
    width: 22px;
    height: 22px;
    margin-right: 18px;
}

.add-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #363636;
}

.empty-text {
    margin-top: 100px;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #DFDDDD;
}

.add-movies {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}